<!DOCTYPE html>
<html lang="en">
    <%- include('../templaces/head') %>
<body style="background-color: #fafafa;">
    <%- include('../templaces/header') %>

    <div class="container my-5">
        <div class="form-container">
            <h3>Registro de Entrada y Salida</h3><br>

            <form action="/validar" method="post">
            <!-- <input type="hidden" name="formType" value="Registro-Entrada-Salida"> -->

                <div class="col-mb-3">
                    <!-- <label for="id_registro" class="form-label">ID</label> -->
                    <input type="number" class="form-control" id="id_registro" placeholder="ID registro" hidden>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="usuario_id" class="form-label">Usuario</label>
                        <input type="number" class="form-control" id="usuario_id" name="usuario_id" placeholder="usuario_id">
                    </div>
                </div>
              <button type="submit" class="btn btn-primary w-100">Registrar</button>
            </form>
        </div>
    </div>
<%- include('../templaces/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
